<h4 class="text-end text-dark">
    Welcome 
    <span style="color:brown">
        {{userObj.username}}
        <img src={{userObj.profileImage}} width="60px" alt="">
        <h6>{{userObj.gmail}}</h6>
        <button class="btn m-3"  routerLink="viewProducts" routerLinkActive='active'>Products</button>
        <button class="btn m-3 " routerLink="viewCart" routerLinkActive='active'><i class="fas fa-shopping-cart"></i>{{count}}</button>
            
      </span>
</h4>
      
  <div class="container">
    <router-outlet></router-outlet>
  </div>